@import url('https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;

}

.bg{
    background-image: url(./img/wave.png)
  
}


.menu{
    display: inline-block;
    width: 100%;
    height: 100px;
    
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

}


h2{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #1b2022;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation:animate 5s linear infinite;
    font-family: arial;
}

@keyframes animate{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #1b2022;
        text-shadow: none;
    }
    18.1%,20.1%,30%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #b336f5,
        0 0 20px #b336f5,
        0 0 40px #b336f5,
        0 0 80px #b336f5,
        0 0 160px #b336f5;

    }
}

h5{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0bf3e7;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation:animate 5s linear infinite;
    font-family: arial;
}

@keyframes animate{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #1b2022;
        text-shadow: none;
    }
    18.1%,20.1%,30%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #b336f5,
        0 0 20px #b336f5,
        0 0 40px #b336f5,
        0 0 80px #b336f5,
        0 0 160px #b336f5;

    }
}

img{
    margin-top: 10px;
    margin-left: 150px;
    height: 120px;
    width: 120px;
    position: relative;
    
  
}

a{
    margin-left: 8px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #1b2022;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    outline: none;
    font-family: Arial;
    line-height: 0.70em;
    text-shadow: 0px 0px 10px #b336f5;
    animation:animate 5s linear infinite;
    font-weight: bold;
}

.linkWrapper {
    padding: 20px;
    display: inline-block;
}

.link{
    display: inline-block;
    margin-top: 60px;
    width: 600px;
    height: 100%;
    float: left;
    position: relative;
    white-space: nowrap;
}

.logo{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    position: relative
}

.logoImage{
    width: 300px;
    height: 200px;
}


.tx{
    height: 60px;
    width: 100%;
    display: inline-block;
}

h5{
    position: relative;
    font-size: 2em;
    letter-spacing: 15px;
    color: #00fff2;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.05em;
    outline: none;
    animation:animate 5s linear infinite;
    font-family: arial;
}

footer{
    position: relative;
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-DEX{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-DEX h6{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
    text-shadow: 0px 0px 10px #09f4fc;
    animation:animate 5s linear infinite;
    font-weight: bold;
    margin-bottom: 10px;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
    background:#000000;


}

section:before{
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 50px;
    background: #b336f5;
    box-shadow: 0px 0px 40px #cc0be6;

}

.container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card{
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 10px 20px 60px;
}


.container .card .box{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(154, 11, 197, 0.05);
    box-shadow: 0 15px 35px rgba(163, 10, 156, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(154, 11, 197, 0.1);;
    z-index: 10;
    border-radius: 10px;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h3{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.percent .number h4{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.percent .number h3 span{
    font-size: 24px;
}


footer{
    position: relative;
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
    text-shadow: 0px 0px 10px #b336f5;
    animation:animate 5s linear infinite;
    font-weight: bold;
    margin-bottom: 10px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(134, 5, 160);
}

.footer-bottom{
    background: #000;
   
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}